<h1><%=@employee.first_name%></h1>

<h4>First name: <%=@employee.first_name%></h4>
<h4>Last name: <%=@employee.last_name%></h4>
<h4>Email: <%=@employee.email%></h4>
<h4><a href="/employees/<%=@employee.id%>/projects">Projects</a></h4>