<div class="row"></div>
<h3><%=project.code_name%></h3>
<p><strong>Presupuesto</strong> <%=project.budget%></p>
<p><strong>Fecha</strong> <%=project.due_date%></p>
<p><strong>Nombre Empleado</strong><%=employee.first_name%> <%=employee.last_name%></p>