<h1>Project#index</h1>
<div>
	<table>
	<thead>
		<tr>
			<th>id</th>
			<th>code name</th>
			<th>due date</th>
			<th>budget</th>
		</tr>
	</thead>
	<tbody>
		<%@proyectos_empleado.each do |proyecto|%>
		<tr>
			<td><a href='/projects/<%=proyecto.id%>'><%=proyecto.id%></a></td>
			<td><%=proyecto.code_name%></td>
			<td><%=proyecto.due_date%></td>
			<td><%=proyecto.budget%></td>
		</tr>
		<%end%>
	</tbody>
	</table>
</div>
